@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Charmonman, cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #636363;
}

header h1 {
  font-size: 5rem;
  color: #fff;
  margin: .5em;
  margin-top: 0;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  width: 32.3333%;
  text-align: center;
  background-color: #ccc;
}

li a:hover {
  background-color: #636363;
  display: block;
}

header li a {
  text-decoration: none;
  color: #000;
}

.img-flex {
  display: block;
  width: 100%;
}

.hard-chocolate {
  margin-top: 3em;
}

.crunchy-chocolate {
  position: relative;
}

.hard-chocolate {
  position: relative;
}

.soft-chocolate {
 position: relative;
}

.relative {
  position: relative;
}

.crunchy-chocolate a, .crunchy-chocolate p {
  margin: 0;
}

.hard-chocolate a, .hard-chocolate p {
  margin: 0;
}

.soft-chocolate a, .soft-chocolate p {
  margin: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
}

div p {
  margin: 1em;
}

div a {
  margin: 1em;
}

section h2 {
  margin: 1em;
}

section p {
  margin: 1em;
}

main a {
  margin: 1em;
}

footer {
  margin: 1em;
}

@media only screen and (min-width: 25em) {

  .images {
    display: inline-block;
    width: 50%;
    float: left;
    padding: .1em;
  }

  img:nth-child(an+b){


}

@media only screen and (min-width: 38em) {

  img {
    display: flex;
    width: 32%;
    float: left;
    padding: .1em;
  }

  .hard-chocolate .img-flex {
    position: relative;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  img {
    display: inline-block;
    width: 25%;
    float: left;
    padding: .1em;
  }

  img:nth-child(even) {
    display: inline;
  }

}

@media only screen and (min-width: 90em) {

  img {
    display: inline-block;
    width: 25%;
    float: left;
    padding: .1em;
  }

  img:nth-child(even) {
    display: inline;
  }

}
